@font-face {
  font-family: mplus-1c-light;
  src: url(http://mplus-fonts.sourceforge.jp/webfonts/mplus-1c-light.ttf); }
/* line 40, ../scss/sp.scss */
body {
  background-color: #f0f0f0;
  color: #333333;
  font-family: Meiryo, sans-serif;
  font-size: 87.5%;
  margin: 0px;
  padding: 0px; }

/* line 49, ../scss/sp.scss */
header {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  margin-top: 36px;
  text-align: center; }
  /* line 58, ../scss/sp.scss */
  header h1 .title {
    background-image: url(../images/title.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 35px;
    text-indent: 100%;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden; }
  /* line 64, ../scss/sp.scss */
  header h1 .title-small {
    background-image: url(../images/title-small.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 17px;
    text-indent: 100%;
    line-height: 17px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    left: -2px;
    margin-bottom: 17px; }
  /* line 74, ../scss/sp.scss */
  header p {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    color: #666666;
    margin-top: 20px;
    position: relative;
    left: 2px; }
  /* line 87, ../scss/sp.scss */
  header nav ul {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 95px / 2; }
  /* line 94, ../scss/sp.scss */
  header .scrollable {
    margin-bottom: 40px; }

/* line 102, ../scss/sp.scss */
nav ul,
#works ul {
  padding-left: 0px; }
  /* line 16, ../scss/sp.scss */
  nav ul:after,
  #works ul:after {
    content: "";
    clear: both;
    display: block; }
  /* line 105, ../scss/sp.scss */
  nav ul li,
  #works ul li {
    list-style-type: none;
    float: left; }
    /* line 108, ../scss/sp.scss */
    nav ul li a,
    #works ul li a {
      color: #333333;
      text-decoration: none; }

/* line 116, ../scss/sp.scss */
.linklist a {
  color: #666666 !important; }
  /* line 118, ../scss/sp.scss */
  .linklist a:hover {
    opacity: 0.75;
    text-decoration: underline; }

/* line 124, ../scss/sp.scss */
.navbutton {
  background-color: #F0BBA8;
  font-family: "M+ 1c regular", Meiryo, sans-serif;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
  padding-top: 45px;
  border-radius: 65px;
  width: 130px;
  height: 85px; }
  /* line 138, ../scss/sp.scss */
  .navbutton .title-small {
    color: #666666;
    font-size: 86%; }

/* line 144, ../scss/sp.scss */
h2 {
  background-color: #F0BBA8;
  font-family: "M+ 1c light", Meiryo, sans-serif;
  font-size: 100%;
  text-align: center;
  margin: 0px 20px;
  padding: 20px;
  border-radius: 20px;
  max-width: 580px; }
  @media screen and (min-width: 600px) {
    /* line 144, ../scss/sp.scss */
    h2 {
      margin-left: auto;
      margin-right: auto;
      width: 560px; } }
  /* line 157, ../scss/sp.scss */
  h2 .title {
    font-size: 172%; }
  /* line 160, ../scss/sp.scss */
  h2 .title-small {
    color: #666666;
    font-size: 129%; }
  /* line 164, ../scss/sp.scss */
  h2 + div {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    margin-top: 40px;
    margin-bottom: 40px; }

/* line 16, ../scss/sp.scss */
.clearfix:after {
  content: "";
  clear: both;
  display: block; }
/* line 174, ../scss/sp.scss */
.clearfix .left {
  float: left; }
/* line 177, ../scss/sp.scss */
.clearfix .right {
  float: right; }

/* line 182, ../scss/sp.scss */
h3,
.name {
  font-family: mplus-1c-light, Meiryo, sans-serif;
  font-weight: normal;
  font-size: 143%; }

/* line 189, ../scss/sp.scss */
h3 {
  font-family: Meiryo, sans-serif; }

/* line 193, ../scss/sp.scss */
.name b {
  font-weight: normal; }

/* line 197, ../scss/sp.scss */
.name-small {
  font-family: mplus-1c-light, Meiryo, sans-serif;
  font-size: 86%; }

/* line 203, ../scss/sp.scss */
.meimage {
  width: 130px;
  border-radius: 65px; }

/* line 209, ../scss/sp.scss */
.meterlist div {
  width: 146px;
  display: inline-block; }

/* line 219, ../scss/sp.scss */
.worklist li > div,
.worklist li > a > div {
  width: 280px;
  margin-bottom: 20px; }
/* line 224, ../scss/sp.scss */
.worklist li:nth-child(2n+1) > div,
.worklist li:nth-child(2n+1) > a > div {
  margin-right: 20px; }
/* line 232, ../scss/sp.scss */
.worklist .description {
  height: 6em; }
/* line 235, ../scss/sp.scss */
.worklist img {
  width: 100%; }
/* line 238, ../scss/sp.scss */
.worklist .keyword {
  background-color: #B9F0A8;
  margin-right: 5px;
  border-radius: 12px;
  padding: 0px 5px; }

/* line 219, ../scss/sp.scss */
.linklist li > div,
.linklist li > a > div {
  width: 280px;
  margin-bottom: 20px; }
/* line 224, ../scss/sp.scss */
.linklist li:nth-child(2n+1) > div,
.linklist li:nth-child(2n+1) > a > div {
  margin-right: 20px; }
/* line 250, ../scss/sp.scss */
.linklist div > div > * {
  vertical-align: middle; }
/* line 254, ../scss/sp.scss */
.linklist img {
  margin-right: 10px; }
/* line 257, ../scss/sp.scss */
.linklist p {
  margin-left: 42px; }

/* line 262, ../scss/sp.scss */
footer {
  background-color: #999999;
  padding: 1px; }
  /* line 265, ../scss/sp.scss */
  footer .copyright {
    color: #f0f0f0;
    font-size: 86%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }

/* line 285, ../scss/sp.scss */
#main section:nth-child(1) h2 {
  background-color: #F0BBA8; }

/* line 288, ../scss/sp.scss */
header nav li:nth-child(1) .navbutton {
  background-color: #F0BBA8; }

/* line 285, ../scss/sp.scss */
#main section:nth-child(2) h2 {
  background-color: #F0DFA8; }

/* line 288, ../scss/sp.scss */
header nav li:nth-child(2) .navbutton {
  background-color: #F0DFA8; }

/* line 285, ../scss/sp.scss */
#main section:nth-child(3) h2 {
  background-color: #B9F0A8; }

/* line 288, ../scss/sp.scss */
header nav li:nth-child(3) .navbutton {
  background-color: #B9F0A8; }

/* line 285, ../scss/sp.scss */
#main section:nth-child(4) h2 {
  background-color: #A8DDF0; }

/* line 288, ../scss/sp.scss */
header nav li:nth-child(4) .navbutton {
  background-color: #A8DDF0; }

/* line 293, ../scss/sp.scss */
ins {
  background-color: #999999;
  color: #f0f0f0;
  text-decoration: none; }

@media screen and (min-width: 600px) {
  /* line 300, ../scss/sp.scss */
  header {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-top: 75px; }
    /* line 304, ../scss/sp.scss */
    header h1 .title {
      background-size: 405px 47px;
      line-height: 47px; }
    /* line 309, ../scss/sp.scss */
    header h1 .title-small {
      position: relative;
      left: -2px;
      margin-bottom: 17px; }
    /* line 316, ../scss/sp.scss */
    header p {
      margin-left: auto;
      margin-right: auto;
      width: 600px;
      margin-top: 40px;
      position: relative;
      left: 0px; }
    /* line 323, ../scss/sp.scss */
    header nav ul {
      margin-left: auto;
      margin-right: auto;
      width: 600px;
      margin-top: 95px; }
    /* line 328, ../scss/sp.scss */
    header .scrollable {
      margin-bottom: 40px; }

  /* line 332, ../scss/sp.scss */
  h2 + div {
    margin-left: auto;
    margin-right: auto;
    width: 600px; } }
